
.navbar{
  background-color:rgb(240, 162, 16, 0.5);
  height: 50px;
  width:100%;
  position: fixed;
  z-index:5;
  display:flex;
  top:0;
  
}
.navbar ul{
  display:flex;
  
  justify-content: flex-end;
  flex-direction: row;
  margin:0;
  z-index: 7;
  width:100%;
}
ul{
  list-style: none;
}
.navbar ul li{
  margin: 1rem;
  text-align: right;
}
.navbar ul li a{
  text-decoration: none;
}
.navbar ul li a:hover{
  color: rgb(148, 160, 180);
}

.content section, footer{
  height: 100vh;
  background-color:pink;
  height: 100vh;
  margin-bottom: 1rem;
  width:100%;
  position: relative;
  z-index:1;
  color: rgb(184, 24, 3);
  display:inline-block;
}
.project section{
  height: 120vh !important;
  background-color:pink;
  margin-bottom: 1rem;
}
.quick-summary section, .education section, .contact-me section{
  height: 40vh !important;
  background-color:pink;
  margin-bottom: 1rem;
}
.why-work-with-me section, .about-me{
  height: 60vh !important;
  background-color:pink;
  margin-bottom: 1rem;
}
.about-me{
  margin-bottom: 0 !important;
}

.landing-bgImg {
  /*background-position: 0 10%;*/
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  z-index: 2;
  opacity: .2;
  height: 100vh;
  width: 100%;
  position:absolute;
}
.landing .landing-text{
  z-index: 3;
  opacity: 1 !important;
  
  top: 0;
  position:relative;
}

.about-me .fontAwesome, .contact-me .fontAwesome{
  padding-right:20px;
}

button{
  height: 40px;
  width: auto;
  padding: 10px;
  border-radius: 5%;
  background-color: rgb(216, 174, 169);
  color: rgb(61, 4, 4);
}
h1, h3, h5, p{
  padding-left:10px;
}

.bottomOfDiv{
  bottom:5px;
   position:absolute;
  left:50%;
  z-Index:4;
}

.progress-bar {
  height: 50px;
  background: #7e311a86;
  width: 0%;
  z-index: 6;
  position: absolute;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 3px;
}