:root{
  --color-primary-bold: rgb(86,48,63);
  --color-primary: rgb(216,120,159);
  --color-light: rgb(251,241,245);
  --color-secondary: rgb(204,177,17);
  --color-secondary-light: rgb(224,208,112);

  --color-primary-sub: rgb(195,33,66);
  --color-dark: rgb(60,41,41);
  --color-darker: rgb(15,13,13);
  --color-light: rgb(194, 167, 142);
  --color-lighter: rgb(225,210,192);
}
.content section, footer{
  height: 100vh;
  background-color:var(--color-light);
  height: 100vh;
  margin-bottom: 1rem;
  width:100%;
  position: relative;
  z-index:1;
  color: rgb(184, 24, 3);
  display:inline-block;
}
.project section{
  height: 145vh !important;
  background-color:var(--color-light);
  margin-bottom: 1rem;
}
.quick-summary section, .education section, .contact-me section{
  height: 40vh !important;
  background-color:var(--color-light);
  margin-bottom: 1rem;
}
.why-work-with-me section, .about-me{
  height: 60vh !important;
  background-color:var(--color-light);
  margin-bottom: 1rem;
}
.about-me{
  margin-bottom: 0 !important;
}
.about-me div{
  padding-left:20px;
  padding-top:40px;
}


button{
  height: 50px;
  width: auto;
  padding: 10px;
  border-radius: 5%;
  background-color: rgb(224, 104, 34);;
  color: rgb(240, 240, 240);
  margin:5px;
}
button:hover{
  cursor: pointer;
  background-color: rgb(186, 193, 204);
  color: rgb(61, 4, 4);
  font-size: 14px;
}


.bottomOfDiv{
  bottom:5px;
   position:absolute;
  left:50%;
  text-align: center;
  z-Index:4;
}
#bottomDivForText{
  left:45%;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 3px;
}
ul{
  list-style: none;
}