:root{
    --height:340px;
    --height-image:180px;
    --height-desc:118px;
    --height-button:30px;
    --width:280px;
}
.project-container{
    height: var(--height);
    width:  var(--width);
    float: left;
    background-color: var(--color-lighter);
    margin: 10px;
    position: relative;
    text-align: center;
    border-right: 1px solid rgb(51, 19, 19);
    border-left: 1px solid rgb(51, 19, 19);
    
}
.project-container img{
    height: var(--height-image);
    width: var(--width);
}
.project-container p{
    margin: 0 0 0 0;
    height: var(--height-desc);
    
}
.project-container button{
    width: 140px;
    height:40px;
    left:50%;
    z-Index:4;
    margin:0;
    padding-top: 5px;
    padding-bottom: 10px;
    display: inline-block;
  }

.project-container img:hover{
    opacity: 0.2;
}
.project-container .fontAwesomeEye{
    position: absolute;
    left:35%;
    top: 15%;
    visibility:hidden;
}